#div1 {
    background-color: red;
    width: 600px;
    height: 150px;
    border: 10px solid black;
}

#div2 {
    background-color: aqua;
    width: 600px;
    height: 150px;
    padding: 50px;
    border: 10px solid black;
    box-sizing: content-box; /* content-box is default value of box-sizing */
    box-sizing: border-box;
}