#wrapper {
    padding: 20px;
    margin: 150px;
    background-color: brown;
    transform: matrix(1, -0.2, 0, 1, 0, 0); /* (scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
}

a {
    text-decoration: none;
    background-color: rgb(13, 212, 212);
    padding: 10px 20px;
    color: black;
    display: inline-block;
    transform: skew(20deg, 10deg);
    /* transform: skewX(20deg); */
    /* transform: skewY(20deg); */

    /* transform: rotate(20deg);
    transform-origin: 0% 100%; */
}

a:hover {
    /* display: inline-block; */ /* Because transform won't work with inline elements It will work with inline-block and block element */
    /* transform: translate(50px, 50px); */
    /* transform: translate(-20px, -20px); */
    /* transform: rotate(20deg); */
    /* transform: rotate(-20deg); */
    /* transform: scale(2,3);*/ /* transforms 2 * original width and 3 * original height */
    /* transform: scale(0.8,0.8); */
    transform: scaleX(2);
}