:root {
    --primary-color: teal;
    --btn-color: red;
    --text-color: white;
}

#fun {
    background-color: var(--primary-color);
    height: 200px;
    width: 70%;
    width: calc(100% - 200px); /* calc() is a function */
}

a {
    padding: 10px 30px;
    margin: 20px;
    background-color: var(--btn-color);
    color: var(--text-color);
    text-decoration: none;
}